*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: calibri, monospace, "Lucida Console", Courier;
}
.cabecalho {
    background-color: black;
    max-width: 100%;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo {
    height: 70px;
}
@media (max-width: 598px) {
   .tablet {
     width: 100%;
   }
 h3 {
        margin-top: -5px;
        background-color: black;
        color: white;
        
        padding: 2px 20px;
 
 }    
 p#pqualidade {
        margin: 10px 0 15px 20px;
 }   
 
     
 
 .caixa {
    width: 80%;
    height: 160px;
    background: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 40px auto;
    flex-direction: column;
 }

 .imagenscards {
    width: 100px;
 }
 .imagemDOIS {
    width: 100%;
    height: 320px;
    object-fit: cover;
}
/*grid*/
.cards{
    margin: 0px auto 20px auto;
    width:100%;
    height:640px;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(90, 14, 88));
    display:grid;
    grid-template-columns: 300px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px 0;
    justify-content: center;
}
.box {
      background-color:rgb(255, 255, 255);
      padding:20px;
      border-radius:10px;
      color:rgb(0, 0, 0);
      display:flex;
      align-items:center;
      justify-content:center;
      
     
    }


.bottom-card-image {
    display: block;
    margin: 0 10px 25px 0;
}
.bottom-card-description {
    max-width: 368px;
    text-align: center;
    line-height: 25px;
    font-size: 16px;
}
/*infocard bottom*/
.imagem-final {
    width: 90%;
    height: 300px;
    object-fit: cover;
    margin: 20px;
    border-radius: 10px;

    
}
.infocard {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 5px 25px;
}
.infocard h2 {
    color: rgb(53, 21, 66);
}
/*início rodapé*/
.rodapé {
    background-image: linear-gradient(to right, rgb(0, 0, 0) ,rgb(90, 14, 88) );
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px 0;
 }
 .icones-rodapé{
     display: flex;
     list-style: none;
     align-items: center;
     margin-bottom: 15px;

 }
 .icones-footer {
     margin: 0 8px;

 }
 .texto-rodapé {
     line-height: 15px;
     font-size: 12px;
     color: white;
     text-transform: uppercase;
 } 
 #insta {
     width: 25px;
     object-fit: contain;
 }
 /*fim rodapé*/


}
@media (min-width: 598px) {
    .tablet {
        width: 100%;
        height: 400px;
        object-fit: cover;
      }
    .conteudoUM {
        background-color: black;
        color: white;
        padding: 20px;
        align-items: center;

    }
    .beneficios {
        display: flex;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 360px;
    
           
    }
    .caixa {
        background: white;    
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
        margin: 3%;
        width: 28%;
        height: 270px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .imagenscards {
        width: 100px;
    }
    .caixa p {
        font-size: 20px;
        padding: 6px;
    }
    .imagemDOIS {
        width: 100%;
        height: 340px;
        object-fit: cover;
    }
    /*grid*/
    .cards{
        margin: 0 auto 20px auto;
        width:100%;
        height:600px;
        background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(90, 14, 88));
        display:grid;
        grid-template-columns: 300px 300px;
        grid-row: auto auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        padding: 20px 0;
        justify-content: center;
    }
    .box {
          background-color:rgb(255, 255, 255);
          padding:20px;
          border-radius:10px;
          color:rgb(0, 0, 0);
          display:flex;
          align-items:center;
          justify-content:center;
         
        }
  
  
    .bottom-card-image {
        display: block;
        margin: 0 10px 25px 0;
    }
    .bottom-card-description {
        max-width: 368px;
        text-align: center;
        line-height: 25px;
        font-size: 16px;
    }
   /*infocard bottom*/
    .finalizar {
        background-image: linear-gradient(rgb(255, 255, 255), rgb(245, 245, 245));
        display: flex;
    }
    .imagem-final {
        width: 40%;
        height: 300px;
        object-fit: cover;
        margin: 100px;
        display: flex;
        justify-content: left;
    }
    .infocard {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 220px;

    }
    /*início rodapé*/
    .rodapé {
       background-image: linear-gradient(to right, rgb(0, 0, 0) ,rgb(90, 14, 88) );
       display: flex;
       flex-direction: column;
       align-items: center;
       padding: 38px 0;
    }
    .icones-rodapé{
        display: flex;
        list-style: none;
        align-items: center;
        margin-bottom: 15px;

    }
    .icones-footer {
        margin: 0 8px;

    }
    .texto-rodapé {
        line-height: 15px;
        font-size: 12px;
        color: white;
        text-transform: uppercase;
    } 
    #insta {
        width: 25px;
        object-fit: contain;
    }
    /*fim rodapé*/

    
} 

   



   
